<!DOCTYPE html>
<html>
<head>
    <title>Hostel Booking</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/hostels-page">Hostels</a>
        <a href="/rooms-page">Rooms</a>
        <a href="/bookings-page">Bookings</a>
        <a href="/login-page">Login</a>
        <a href="/register-page">Register</a>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>